body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  padding-right: 20px;
  width: 145px;
}

input {
  width: 140px;
}

input:hover {
  background: #eee;
  color: black;
}

#preset-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.preset {
  margin: 5px;
  width: 110px;
  height: 30px;
  border-radius: 12px;
  border-color: darkgray;
  color: gray;
  position: relative;
}

.preset:hover{
  background: #eee;
  color: black;
  border-color: black;
}

#options-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
} 

#dimension-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.calculate-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#calculate-button {
  display: block;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  border-color: darkgray;
  color: gray;
}

#calculate-button:hover {
  background: #eee;
  color: black;
  border-color: black;
}

select {
  width: 215px;
  background: #eee;
  color: black;
}

select:hover {
  cursor: pointer;
  background: white;
  border-radius: 4px;
}

table {
  margin-top: 5px;
}